## Q4

In [1]:
import pandas as pd
import numpy as np
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sb
import math 
%matplotlib inline

from mlxtend.preprocessing import TransactionEncoder 
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [3]:
item_data = []
with open("table1.txt") as inputfile:
   for line in inputfile:
       item_data.append(line.strip().split(','))

In [4]:
item_data

[['M', 'O', 'N', 'K', 'E', 'Y'],
 ['D', 'O', 'N', 'K', 'E', 'Y'],
 ['M', 'A', 'K', 'E'],
 ['M', 'U', 'C', 'K', 'Y'],
 ['C', 'O', 'O', 'K', 'I', 'E']]

In [5]:
te = TransactionEncoder() 
tedata = te.fit(item_data).transform(item_data)
itemdf = pd.DataFrame(tedata, columns=te.columns_)
itemdf

       A      C      D      E      I     K      M      N      O      U      Y
0  False  False  False   True  False  True   True   True   True  False   True
1  False  False   True   True  False  True  False   True   True  False   True
2   True  False  False   True  False  True   True  False  False  False  False
3  False   True  False  False  False  True   True  False  False   True   True
4  False   True  False   True   True  True  False  False   True  False  False

In [6]:
sup = itemdf.sum()
sup

A    1
C    2
D    1
E    4
I    1
K    5
M    3
N    2
O    3
U    1
Y    3
dtype: int64

In [8]:
# minsup is 3, so the minimum relative support is 0.6
fi = apriori(itemdf, min_support=0.6, use_colnames=True)
fi

    support   itemsets
0       0.8        (E)
1       1.0        (K)
2       0.6        (M)
3       0.6        (O)
4       0.6        (Y)
5       0.8     (E, K)
6       0.6     (O, E)
7       0.6     (M, K)
8       0.6     (O, K)
9       0.6     (Y, K)
10      0.6  (K, O, E)

## Q5